body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
}

p {
    margin: 0;
}

canvas {
    background-image: url(img/5.Fondo/Capas/5.cielo_1920-1080px.png);
    background-size: cover;
    background-color: lightblue;
    border-radius: 8px;
}

.gameScreen {
    z-index: 5;
}

.main-highscore-container {
    /* display: none; */
    width: 230px;
    height: 480px;
    background-color: white;
    margin-top: 128px;
    text-align: center;
    border-radius: 8px;
}

.main-highscore-container h1 {
    margin-bottom: 0;
    margin-block-end: 0;
}

.game-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("img/9.Intro _ Outro Image/background.jpg");
}



.gameScreen h1 {
    color: rgb(75, 5, 5);
    text-align: center;
    font-size: xxx-large;
    font-weight: 700;
    margin-left: 200px;

}

.highscore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listed-highscores {
    font-size: larger;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('1');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-color: rgb(255 165 0);
}

.game-info {
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-info button {
    margin: 50px;
    border-radius: 8px;
    width: 80%;
    font-size: large;
    background: #b6d6e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: 150ms ease-in-out;
}

.game-info button:hover {
    background-color: #9cbfce;
    cursor: pointer;

}

.game-info button:active {

    background-color: #ff9600;
}


.game-info button span:last-child {
    font-size: 25px;
    animation: ease-in-out;
    animation-name: move-left;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.game-info button span:first-child {
    font-size: 25px;
    animation: ease-in-out;
    animation-name: move-right;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-left {
    from {
        margin-right: 0;
    }

    to {
        margin-right: 20px;
    }
}

@keyframes move-right {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 20px;
    }
}

.keyboard-manual {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff9600;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.keyboard-manual img {
    width: 41px;
}

footer {
    position: fixed;
    bottom: 5px;
    z-index: 5;
}

.d-none {
    display: none;
}

.endgame-screen {
    border-radius: 8px;
}

.endgame-screen img {
    width: 720px;
    height: 480px;
    border-radius: 8px;
}


.highest-score {
    text-align: center;
}

.fullscreen-btn {
    position: absolute;
    bottom: 16px;
    right: 21px;
    cursor: pointer;
    width: 37px;
}

.fullscreen-btn:hover {
    transform: scale(1.2, 1.2);
}

.canvas-container {
    position: relative;
}

.hidden-highscore-container {
    background-image: url('1');
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.inner-highscore-container {
    background-color: rgba(173, 101, 11, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 8px;
    padding: 35px;
    color: #180803;
}

.d-flex {
    display: flex;
}

#playerInput {
    margin-top: 40px;
    border-radius: 8px;
    border: none;
    width: 250px;
    height: 23px;
}

.hidden-highscore-container button {
    margin-top: 20px;
    padding: 21px;
    border-radius: 8px;
    border: none;
    color: #180803;
    background-color: rgb(41 168 206 / 67%);
    cursor: pointer;
    height: 23px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.hidden-highscore-container button:hover {
    background-color: rgb(41 168 206 / 90%);
}

.current-score {
    margin-top: 103px;
    font-size: larger;
}


.restart-btn {
    position: absolute;
    bottom: 16px;
    left: 21px;
    cursor: pointer;
    width: 37px;
}

.restart-btn:hover {
    transform: scale(1.2, 1.2);
}